.App {
  text-align: center;
}

.calcButton {
  margin: 20px;
}

.calcButton button{
  margin: 10px;
  height: 40px;
  width: 140px;
  border-radius: 10px;
}

.calcButton .control {
  background-color: coral;
  color: aliceblue;
}

.calcInput {
  height: 30px;
  width: 180px;
  border-radius: 8px;
}
